<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://kit.fontawesome.com/599e8c3212.js" crossorigin="anonymous"></script>
    <title>Авиамассаж</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="navbar">
                <span class="navbar__logo"><a href="#" class="logo__link" >Надежда<br>Смирнова</a></span>
                <ul class="navbar__list">
                    <li class="list__item">
                        <a href="" class="list__link">О себе</a>
                    </li>
                    <li class="list__item">
                        <a href="" class="list__link">Услуги и цены</a>
                    </li>
                    <li class="list__item">
                        <a href="" class="list__link">Отзывы</a>
                    </li>
                    <li class="list__item">
                        <a href="" class="list__link">Контакты</a>
                    </li>
                </ul>                  
            </nav>    
        </div>
    </header>
    
    <main>
        <div class="about">
            <div class="container">
                <section class="about__wrapper">
                    <h1 class="about__heading">Массажист Надежда Смирнова</h1>
                    <p class="about__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum officiis corrupti ipsam repellat qui maxime ad laudantium. Voluptatum molestias enim quibusdam maiores sunt corrupti ipsam, a soluta eius molestiae consequuntur?
                    </p>
                </section>   
            </div>
        </div>
        <section class="services">
            <div class="container putInCenter">
                <div class="makeRowFrom3">
                    <article class="services__item">
                        <div class="services__video">
                            <div class="services__text--block">
                                <h3 class="services__heading">Lorem</h3>
                                <p class="services__text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, distinctio! Modi dolor itaque earum soluta suscipit nisi nobis esse, obcaecati dolorum, debitis porro quos illo aspernatur error quibusdam! Facilis, in?
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="services__item">
                        <div class="services__video">
                            <div class="services__text--block">
                                <h3 class="services__heading">Lorem</h3>
                                <p class="services__text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, distinctio! Modi dolor itaque earum soluta suscipit nisi nobis esse, obcaecati dolorum, debitis porro quos illo aspernatur error quibusdam! Facilis, in?
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="services__item">
                        <div class="services__video">
                            <div class="services__text--block">
                                <h3 class="services__heading">Lorem</h3>
                                <p class="services__text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, sapiente? Similique commodi quis doloribus aut at impedit ut veniam. Numquam, eaque sed. Deleniti illum magni nisi, nostrum sint eum esse!
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <button class="services__showAll">
                    <span class="showAll__link">Показать все мои работы</span>
                </button>
            </div>
        </section>
        <div class="container">
            <section class="comments">
                <div class="makeRowFrom3">
                    <article class="comments__item">
                        <h3 class="comments__name">Lorem ipsum</h3>
                        <p class="comments__text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorem harum similique necessitatibus facere repellendus quam nemo impedit blanditiis laborum? Commodi aspernatur dicta dolore deserunt et pariatur, eveniet labore ut.
                        </p>
                    </article>
                    <article class="comments__item">
                        <div class="comments-item__right-column">
                            <h3 class="comments-item__name ng-binding">
                              Марина
                              <!-- ngIf: !$ctrl.hideReportBlock -->
                            </h3>
                            <!-- ngIf: $ctrl.comment.rating > 0 -->
                                        <!-- end ngIf: $ctrl.comment.rating > 0 -->
                            <span class="comments-item__date">
                                        <y-localized-date date="$ctrl.comment.unixDate" show-year="true" class="ng-isolate-scope"><!-- ngIf: $ctrl.isUSAFormat -->
                        <!-- ngIf: !$ctrl.isUSAFormat --><span ng-if="!$ctrl.isUSAFormat" data-locator="date" class="ng-binding ng-scope">
                          6
                          июля
                        </span><!-- end ngIf: !$ctrl.isUSAFormat -->
                        <!-- ngIf: $ctrl.showYear --><span ng-if="$ctrl.showYear" data-locator="year" class="ng-binding ng-scope">
                          2023
                        </span><!-- end ngIf: $ctrl.showYear -->
                        </y-localized-date>
                                    </span>
                            <div class="comments-item__text ng-binding" ng-bind-html="$ctrl.comment.text | nl2brFilter | trustedHTMLFilter">Надежда невероятный мастер, я не знаю как она чувствует и умеет подобрать именно тот нажим/силу/технику, вот которая идеально подходит ❤️ Самая лучшая! )</div>
                          </div>
                    </article>
                    <article class="comments__item">
                        <h3 class="comments__name">Lorem ipsum</h3>
                        <p class="comments__text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolorem harum similique necessitatibus facere repellendus quam nemo impedit blanditiis laborum? Commodi aspernatur dicta dolore deserunt et pariatur, eveniet labore ut.
                        </p>
                    </article>
                </div>
            </section>
        </div>
        <div class="container">
            <section class="servises">
                <h2 class="services__heading">Мои услуги</h2>
                <p class="services__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis deleniti a suscipit. Quas mollitia accusantium quo saepe nobis dolorem harum. Atque officia voluptatibus autem nulla, dolorum tempora repudiandae? Nostrum?
                    Corporis, ipsa. Eligendi omnis accusamus, modi cum recusandae quia veritatis perferendis odit inventore, quo velit assumenda consequuntur error veniam, repellendus corrupti laborum cupiditate adipisci officia impedit! Nam vitae velit consequuntur!
                </p>
                <div class="makeRowFrom3">
                    <article class="services__item">
                        <div class="services__icon"></div>
                        <h3 class="services__heading">Lorem</h3>
                        <p class="services__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae qui eum quo aut mollitia esse consequatur corporis. Sequi, excepturi corporis. Ea veritatis excepturi, tempore ipsum corporis aspernatur iure eius ducimus.
                            Error corrupti in accusamus autem quis, deleniti, voluptate, quaerat tempore aliquid fugiat obcaecati harum officia nam reprehenderit culpa mollitia! Neque facilis officiis fugiat fugit aspernatur? Earum eligendi suscipit quas esse?
                        </p>
                    </article>
                    <article class="services__item">
                        <div class="services__icon"></div>
                        <h3 class="services__heading">Lorem</h3>
                        <p class="services__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae qui eum quo aut mollitia esse consequatur corporis. Sequi, excepturi corporis. Ea veritatis excepturi, tempore ipsum corporis aspernatur iure eius ducimus.
                            Error corrupti in accusamus autem quis, deleniti, voluptate, quaerat tempore aliquid fugiat obcaecati harum officia nam reprehenderit culpa mollitia! Neque facilis officiis fugiat fugit aspernatur? Earum eligendi suscipit quas esse?
                        </p>
                    </article>
                    <article class="services__item">
                        <div class="services__icon"></div>
                        <h3 class="services__heading">Lorem</h3>
                        <p class="services__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae qui eum quo aut mollitia esse consequatur corporis. Sequi, excepturi corporis. Ea veritatis excepturi, tempore ipsum corporis aspernatur iure eius ducimus.
                            Error corrupti in accusamus autem quis, deleniti, voluptate, quaerat tempore aliquid fugiat obcaecati harum officia nam reprehenderit culpa mollitia! Neque facilis officiis fugiat fugit aspernatur? Earum eligendi suscipit quas esse?
                        </p>
                    </article>
                </div>
            </section>
        </div>
        <div class="container">
            <section class="enrollForm" name="enroll">
                <form action="" class="enroll">
                    вот тут будет интеграция с yclients
                </form>
            </section>
        </div>      
    </main>

    <footer class="footer">
        <div class="container">
            <section>
                <div class="footer__contacts">
                    <ul class="contacts__list">
                        <li class="contacts__listItem"></li>
                        <li class="contacts__listItem"></li>
                    </ul>
                </div>
                <div class="footer__social">
                    <ul class="social__list">
                        <li class="social__listItem--vk"></li>
                        <li class="social__listItem--dzen"></li>
                    </ul>
                </div>
            </section>
            <div class="footer__rights"></div>   
        </div>
    </footer>

    <!-- Кнопка для записи фиксированная-->
        <button class="enroll__button">
            <a href="#enroll" class="enroll__link">ЗАПИСАТЬСЯ</a>
        </button>  
    
</body>
</html>