@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

.container {
  max-width: 1366px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.header {
  background-color: #2e393d;
  position: fixed;
  top: 0;
  width: 100%;
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5em;
  padding-right: 5em;
  height: 5em;
  vertical-align: middle;
  width: 100%;
  color: #c7cbc2;
}
.header .navbar__logo {
  padding-left: 5em;
  padding-right: 5em;
}
.header .navbar__logo:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #adffc0;
}
.header .navbar__logo .logo__link {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}
.header .navbar__logo .logo__link i {
  color: aliceblue;
}
.header .navbar__list {
  list-style-type: none;
  width: 100%;
  padding-left: 5em;
  padding-right: 10em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.header .navbar .list__link {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}
.header .navbar .list__link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #adffc0;
}

main {
  margin-top: 5em;
}
main .about {
  background-color: #2e393d;
  color: aliceblue;
  font-weight: bold;
}
main .about__heading {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
main .about__text {
  padding-left: 30%;
  padding-right: 30%;
}
main .about section {
  background-image: url(../img/фон.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 45em;
}
main .services {
  background-color: #8d9a90;
  padding-bottom: 5em;
}
main .services .makeRowFrom3 {
  padding: 5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .services__item {
  background-color: #eef2e9;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 2.5em;
  margin-bottom: 2.5em;
  width: 20em;
  height: 25em;
  box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2);
}
main .services__showAll {
  padding: 1em;
  background-color: #ccb78c;
  font-size: large;
  border: none;
  align-self: center;
}
main .services__showAll:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #adffc0;
}
main .services .putInCenter {
  display: flex;
  flex-direction: column;
}

.footer {
  color: #eef2e9;
}
.footer__contacts {
  background-color: #5f7f8a;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.footer__contacts .contacts__list {
  list-style-type: none;
}
.footer__social {
  background-color: #2e393d;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.footer__social .social__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer__social .social__list:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #adffc0;
}
.footer__rights {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__rights .authorsOfIcons {
  list-style-type: none;
  display: flex;
  align-items: space-around;
  flex-wrap: wrap;
}
.footer__rights .authorsOfIcons a {
  text-decoration: none;
  color: aliceblue;
}
.footer__rights .authorsOfIcons a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #adffc0;
}
.footer__rights .authorsOfIcons__icon:not(:last-child) {
  padding-right: 5em;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.enroll__button {
  position: fixed;
  z-index: 3;
  min-width: 15em;
  height: 5em;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 13px 4px rgba(255, 255, 255, 0.3);
  bottom: 10em;
  background-color: #adffc0;
  border: none;
}
.enroll__button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #adffc0;
}
.enroll__button .enroll__link {
  font-size: 1.5em;
  font-weight: bold;
  color: #2e393d;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */