* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

.container {
  max-width: 1366px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.header {
  background-color: #2e393d;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5em;
  padding-right: 5em;
  color: #c7cbc2;
}
.header .navbar__heading {
  color: white;
  margin-top: 2.5em;
  text-align: center;
}
.header .navbar__list {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}
.header .navbar .list__item {
  padding: 1em;
}
.header .navbar .list__link {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}
.header .navbar .list__link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #adffc0;
}

main {
  background-color: #2e393d;
}
main .about {
  background-color: #2e393d;
  color: aliceblue;
  font-weight: bold;
}
main .about__wrapper {
  position: relative;
  width: 100%;
}
main .about__heading {
  text-align: center;
}
main .about__img {
  display: flex;
  justify-content: center;
}
main .about__img img {
  width: 100%;
}
main .about__info {
  text-align: center;
  padding: 5em;
  margin: 2.5em;
  background-color: #eef2e9;
  box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2);
  color: #060c12;
}
main .services {
  background-color: #8d9a90;
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}
main .services h2 {
  color: aliceblue;
  text-align: center;
}
main .services .makeRowFrom3 {
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 2.5em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .services__item {
  background-color: #eef2e9;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 2.5em;
  margin-bottom: 2.5em;
  width: 20em;
  height: 25em;
  box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2);
}
main .services__showAll {
  padding: 1em;
  background-color: #ccb78c;
  font-size: large;
  border: none;
  align-self: center;
}
main .services__showAll:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #adffc0;
}
main .services .putInCenter {
  display: flex;
  flex-direction: column;
}

.comments {
  background-color: #b4bca4;
}
.comments__wrapper {
  padding-top: 5em;
  padding-bottom: 2.5em;
  display: flex;
  flex-direction: column;
}
.comments__item {
  background-color: #dde3d7;
  padding: 1.6666666667em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.comments__item--text {
  margin-bottom: 1em;
}
.comments__item--name {
  font-weight: bold;
  margin-bottom: 1em;
}
.comments__item--date {
  text-align: center;
}
.comments__showAll {
  padding: 1em;
  background-color: #ccb78c;
  font-size: large;
  border: none;
  align-self: center;
}

.footer {
  color: #eef2e9;
}
.footer__contacts {
  background-color: #5f7f8a;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.footer__contacts .contacts__list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-bottom: 2.5em;
}
.footer__contacts .contacts__list a {
  text-decoration: none;
  color: aliceblue;
}
.footer__contacts .contacts__list a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #adffc0;
}
.footer__social {
  background-color: #2e393d;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.footer__social .social__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer__social .social__list:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #adffc0;
}
.footer__rights {
  margin: auto;
}
.footer__rights .authorsOfIcons {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer__rights .authorsOfIcons a {
  text-decoration: none;
  color: aliceblue;
}
.footer__rights .authorsOfIcons a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #adffc0;
}
.footer__rights .authorsOfIcons__icon:not(:last-child) {
  padding-right: 5em;
}
.footer__rights hr {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
.footer__rights .authorOfSite {
  text-align: center;
}

.enroll__button {
  position: fixed;
  z-index: 3;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 13px 4px rgba(255, 255, 255, 0.3);
  bottom: 5em;
  right: 5em;
  background-color: #648769;
  border: none;
}
.enroll__button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #adffc0;
}
.enroll__button .enroll__link {
  font-size: 1.5em;
  font-weight: bold;
  color: #c7cbc2;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */