<article class="services__item">
    <div class="services__text--block">
        <h3 class="services__heading">Lorem</h3>
        <p class="services__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, distinctio! Modi dolor itaque earum soluta suscipit nisi nobis esse, obcaecati dolorum, debitis porro quos illo aspernatur error quibusdam! Facilis, in?
        </p>
        <p class="priseSym"><span class="price">2000</span> р.</p>
    </div>                     
</article>